---
title: Contact
permalink: /contact
layout: home
---
<div id="about-pg-header" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p id="about-pg-title">Contact Us</p>
            <p id="about-pg-sub">Ask us anything. We're always here to help.</p>
        </div>
    </div>
</div>
<div id="contacts" class="container-fluid">
    <div class="row">
        <div id="form" class="col-md-6">
            <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
                <p>
                    <label>Your Name<br><input id="input" type="text" name="name" /></label>
                </p>
                <p>
                    <label>Your Email<br><input id="input" type="email" name="email" /></label>
                </p>
                <p>
                    <label>Your Message<br><textarea id="input" placeholder="We don't bite!" name="message"></textarea></label>
                </p>
                <div data-netlify-recaptcha="true"></div>
                <p>
                <button type="submit">Send</button>
                </p>
            </form>
        </div>
        <div id="wrapper" class="col-md-6">
                <img src="../assets/images/contact-photo.JPG">
        </div>
    </div>
</div>