---
layout: home
permalink: /get-involved
title: Get Involved
---

<div id="about-pg-header" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p id="about-pg-title">Get Involved</p>
            <p id="about-pg-sub">Want to join in on our mission? Help us put smiles on the faces of children with cancer by making chemotherapy care kits with your school, club, organization, or friends!</p>
        </div>
    </div>
</div>

<div id="video" class="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FjU6RI7ec9E"></iframe>
    </div>
</div>
<div id="steps" class="container-fluid">
    <p id="title">Step 1: Order Supplies</p>
    <p id="desc">Golden Heroes has a hospital pre-approved list of items that can go in each chemo kit, making it super easy to order supplies! Since these items go to very sick children, everything must be new and unopened. Our signature chemo kits contain both comforting items and distracting activities to aid hospital stays or clinic visits. Note that it is usually easiest to pack kits in quantities of 12.</p>
    
    <p id="title">Step 2: Pack The Kits</p>
    <p id="desc">Once you have all of your supplies, pack them into a small tote bag. We have two sets of kits, for ages 4-9, and ages 10-18! All of this information is on our website. Remember to print out our signature note and include them in the kits! Most hospitals don’t allow handmade cards, which is why we pre-print them. Take pictures while you pack your kits! We would love to see them.</p>
    
    <p id="title">Step 3: Deliver</p>
    <p id="desc">Your kits are ready to bring comfort to kids with cancer in hospitals! Reach out to the Child Life Department of your local children’s hospital, or email <i style="color: #7dc5db; text-underline: solid; style: regular;">goldenheroesbox@gmail.com</i> and we can help you coordinate the delivery. Check our website for a sample email you can send to hospitals and further instructions.</p>    

    <p id="title">Step 4: Send Us Pictures</p>
    <p id="desc">Please email us letting us know how many kits you made and which hospital you delivered to! We can’t wait to see the amazing impact that you made.</p>
    
</div>
