---
layout: home
title: Resources
permalink: /resources
---
<div id="about-pg-header" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p id="about-pg-title">Resources</p>
            <p id="about-pg-sub">Feel free to download the following.</p>
        </div>
    </div>
</div>

<div id="resources-box" class="container-fluid">
    <div class="row">
        <p id="title">Hospital Box List</p>
        <p id="sub">A description of what to include in your boxes for different age groups.</p>
        <a href="../assets/images/hospital box list.pdf" target="_blank">Download Hospital Box List</a>
    </div>
    <div class="row">
        <p id="title">Hospital Flyers</p>
        <p id="sub">A flyer to include in your boxes that includes our contact information and social media.</p>
        <a href="../assets/images/hospital flyers.pdf" target="_blank">Download Hospital Flyers</a>
    </div>
</div>