<footer>
    <hr>
    <div id="sitemap" class="container-fluid">
        <div id="first-row" class="col-md-12">
            <a href="/">Home</a>
            <a href="/about-us">About Us</a>
            <a href="/get-involved">Get Involved</a>
            <a href="/resources">Resources</a>
            <!-- <a href="/gallery">Gallery</a> -->
        </div>
        <div class="col-md-12">
            <a href="/contact">Contact</a>
            <a href="https://www.instagram.com/goldenheroesbox">Instagram</a>
            <a href="https://www.facebook.com/goldenheroesbox">Facebook</a>
        </div>
    </div>
    <p id="cr">© 2019 by Golden Heroes. Built & designed by <a href="https://carolinechoi.netlify.com">Caroline Choi</a> with 💕</p>
</footer>