// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Playfair+Display');
$main: 'Playfair Display';
$secondary: 'Montserrat';

// Colour Palette
$yellow: #fdc210;
$light-blue: #9fe1ed;
$blue: #7dc5db;
$black: #414141;
$color: #f5f5f5;

#bootstrap-overrides {

#resources-box {
    margin-top: 40px;
    .row {
        text-align: center;
        a {
            font-family: $secondary;
            color: $black;
            font-size: 14px;
            font-style: bold;
        }
        #title {
            margin-top: 35px;
            color: $black;
            font-weight: bold;
            font-family: $main;
            font-size: 20px;    
        }
        #sub {
            font-size: 15px;
            color: $black;
            font-family: $secondary;
        }
    }
    
}
}